header{display: flex;
justify-content: space-between;
background-color: #8d6e63;
align-items: center;}
.intro{background-image:url(background-office-bg-changed\ \(1\).jpg);
text-align: center;
color: white;
padding: 50px;}
.link{
    padding-right: 20px;
}
img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
#image{width:8%;}
.main{display: flex;
justify-content: space-around;
flex-direction:row;
align-items:center;
padding: 50px;
background-color:#f4f1ea;
}
a{padding: 7px;color: #ffffff; 
text-decoration: none;}
.article{background-color: #efebe9;
text-align: center;
color: #72583e;
padding: 0%;}
.main div{
    text-align: center;
    background-color:#d7ccc8 ;
    padding: 20px;
    border-radius: 15px;
    color: #554030;
    width: 25%;
    height: 300px;
}
.main div p{padding: 15px;}
footer{background-color: #8d6e63;
text-align: center;
color: #ffffff;
height: 30px;}
p{margin: 0px;}